.cards-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    min-height: 100vh;

    font-family: 'Poppins', sans-serif;

    @media screen and (min-width:768px) {
        flex-direction: row;
    }
}

.cards-wrapper1 {
    background-color: rgba($color: $red, $alpha: 0.1);
}
.cards-wrapper2 {
    background-color: rgba($color: $red, $alpha: 0.2);
}
.cards-wrapper3 {
    background-color: rgba($color: $red, $alpha: 0.3);
}
.cards-wrapper4 {
    background-color: rgba($color: $red, $alpha: 0.4);
}

.cards-nav {
    display: flex;
    align-items: center;
    height: 200px;
    @media screen and (min-width:768px) {
        height: 200px;
        flex-direction: row;
    }
}

.cards-nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards-nav__item {
    margin: 10px 0;
}

.cards-nav__item--now {
    background: $blue;
}

.cards-nav__link:hover {
    background: red;
}

.cards-nav__link {
    color: $trueBlack;
    text-decoration: none;
    font-size: 25px;
    padding: 5px;
    border-radius: 5px;

    @include smooth;
}





.card {
    position: relative;
    background: $trueWhite;
    max-width: 590px;
    width: 100%;
    min-width: 300px;
    height: 495px;
    margin: 0 auto;
    border-radius: 15px;
    perspective: 1000px;
}

.card:hover .sliderText__text--mod {
    color: red;
}

.card__sliderText {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    padding: 5px 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $trueBlack;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    transition: 1.1s;
}

.sliderText__text {
    color: $trueWhite;
    font-size: 3em;
}

.sliderText__text--mod {
    color: rgba($color: $red, $alpha: 0.4);
}

.card__content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    position: absolute;
    max-width: 90%;
    margin: 10px;
    top: 120px;
    left: 0;

    transition: 1.2s;
}

.card__content--description {
    font-size: 14px;
    color: gray;
}

.card__content--desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.desc--name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.desc--name__img {
    width: 20px;
    height: 20px;
    margin: 0 10px 0 0;
}

.desc--value {
    color: $blue;
    font-size: 14px;
    text-align: end;
}

.card__operation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0 0 0;
}

.price__cost {
    margin: 0;
    padding: 0;
    font-size: 22px;
}

.price__cost--old {
    font-size: 16px;
    color: rgba($color: $red, $alpha: 0.4);
    text-decoration: line-through;
}

.content__link {
    cursor: help;
    display: inline-block;
    padding: 10px 5px;
    text-decoration: none;
    border: 2px solid $trueBlack;
    border-radius: 5px;
    color: $trueBlack;
    background: $trueWhite;
    font-size: 0.97em;
    font-weight: 600;

    @include smooth;
}

.content__link:hover {
    cursor: help;
    color: $trueWhite;
    background: $trueBlack;
}

.content__link--plug {
    border: 2px solid $red;
}

.content__link--plug:hover {
    background: red;
}

.actived .card__sliderText {
    top: -170px;
    transform: rotateX(80deg);
    transition: 2.5s;
}

.actived .card__content {
    top: 770px;
    transform: rotateX(-10deg);
    transition: 2s;
}

.actived .card__info {
    transform: translateY(0%);
    opacity: 1;
    transition: 2.5s;
    transition-delay: 0.5s;
}

.card__info {
    opacity: 0;
    transform: translateY(150%);
    display: flex;
    flex-direction: column;
    margin: 5px 10px;
    transition: 0.9s;
}

.partingWords {
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.267);
}