.swiper-slide--1 {
    min-width: 200px;
    width: 100%;
    min-width: 300px;
    min-height: 200px;
    height: 100%;
    max-height: 500px;
}

.swiper-container {
    min-width: 200px;
    width: 100%;
    min-width: 300px;
    min-height: 200px;
    height: 100%;
    max-height: 500px;
    margin: 0 40px;
    padding: 0 40px;
}