.welcome {
    background: linear-gradient(to bottom, red, rgba($color: $red, $alpha: 0.1));
    max-width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.swiper-container--1 {
    box-sizing: border-box;
    max-width: 100%;

}

.swiper-slide--1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $trueWhite;
    border-radius: 10px;

    font-size: 24px;
}

.swiper-slide__img {
    min-width: 220px;
    width: 100%;
    max-width: 300px;
    min-height: 220px;
    height: 100%;
    max-height: 300px;
}