$trueBlack: #000000;
$trueWhite: #ffffff;

$red: #E21E26;
$blue: #40c3ff;

:root {
    --gradient: linear-gradient(
        45deg,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        rgb(255, 65, 65),
        rgb(252, 128, 128),
        white,
        rgb(252, 128, 128),
        rgb(255, 65, 65),
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red
    );
}