@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;

400;600;700&display=swap");
:root {
  --gradient: linear-gradient(
        45deg,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        rgb(255, 65, 65),
        rgb(252, 128, 128),
        white,
        rgb(252, 128, 128),
        rgb(255, 65, 65),
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red,
        red
    );
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a:focus,
button:focus,
input:focus {
  outline: none;
}

.containerInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  width: 100%;
  background-color: rgba(226, 30, 38, 0.5);
}

.containerInput--wrapper {
  max-width: 100%;
  margin: 0 10px;
  padding: 20px;
  border-radius: 8px;
  background-color: rgba(64, 195, 255, 0.4);
}

.contactsForm {
  padding: 30px;
  border-radius: 16px;
  background-color: rgba(64, 195, 255, 0.8);
  -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.8);
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.8);
}

.contactsForm--title {
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
}

.contactsForm--subtitle {
  font-size: 25px;
  color: #ffffff;
}

.contactsForm--box {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.inputBox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 0 0 10px 0;
}

.inputBox__input {
  border: none;
  border-radius: 5px;
  max-width: 98.5%;
  height: 35px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.inputBox__input:focus,
.inputBox__input:hover {
  height: 37px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}

.inputBox__span {
  max-width: 100%;
  color: #ffffff;
  font-size: 18px;
}

#show-map {
  color: #ffffff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#show-map:hover {
  text-decoration: none;
  color: #E21E26;
}

.welcome {
  background: -webkit-gradient(linear, left top, left bottom, from(red), to(rgba(226, 30, 38, 0.1)));
  background: -o-linear-gradient(top, red, rgba(226, 30, 38, 0.1));
  background: linear-gradient(to bottom, red, rgba(226, 30, 38, 0.1));
  max-width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-container--1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
}

.swiper-slide--1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffffff;
  border-radius: 10px;
  font-size: 24px;
}

.swiper-slide__img {
  min-width: 220px;
  width: 100%;
  max-width: 300px;
  min-height: 220px;
  height: 100%;
  max-height: 300px;
}

.swiper-slide--1 {
  min-width: 200px;
  width: 100%;
  min-width: 300px;
  min-height: 200px;
  height: 100%;
  max-height: 500px;
}

.swiper-container {
  min-width: 200px;
  width: 100%;
  min-width: 300px;
  min-height: 200px;
  height: 100%;
  max-height: 500px;
  margin: 0 40px;
  padding: 0 40px;
}

.cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.cards-wrapper1 {
  background-color: rgba(226, 30, 38, 0.1);
}

.cards-wrapper2 {
  background-color: rgba(226, 30, 38, 0.2);
}

.cards-wrapper3 {
  background-color: rgba(226, 30, 38, 0.3);
}

.cards-wrapper4 {
  background-color: rgba(226, 30, 38, 0.4);
}

.cards-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
}

.cards-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards-nav__item {
  margin: 10px 0;
}

.cards-nav__item--now {
  background: #40c3ff;
}

.cards-nav__link:hover {
  background: red;
}

.cards-nav__link {
  color: #000000;
  text-decoration: none;
  font-size: 25px;
  padding: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.card {
  position: relative;
  background: #ffffff;
  max-width: 590px;
  width: 100%;
  min-width: 300px;
  height: 495px;
  margin: 0 auto;
  border-radius: 15px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.card:hover .sliderText__text--mod {
  color: red;
}

.card__sliderText {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #000000;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -webkit-transition: 1.1s;
  -o-transition: 1.1s;
  transition: 1.1s;
}

.sliderText__text {
  color: #ffffff;
  font-size: 3em;
}

.sliderText__text--mod {
  color: rgba(226, 30, 38, 0.4);
}

.card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  position: absolute;
  max-width: 90%;
  margin: 10px;
  top: 120px;
  left: 0;
  -webkit-transition: 1.2s;
  -o-transition: 1.2s;
  transition: 1.2s;
}

.card__content--description {
  font-size: 14px;
  color: gray;
}

.card__content--desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.desc--name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
}

.desc--name__img {
  width: 20px;
  height: 20px;
  margin: 0 10px 0 0;
}

.desc--value {
  color: #40c3ff;
  font-size: 14px;
  text-align: end;
}

.card__operation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0 0 0;
}

.price__cost {
  margin: 0;
  padding: 0;
  font-size: 22px;
}

.price__cost--old {
  font-size: 16px;
  color: rgba(226, 30, 38, 0.4);
  text-decoration: line-through;
}

.content__link {
  cursor: help;
  display: inline-block;
  padding: 10px 5px;
  text-decoration: none;
  border: 2px solid #000000;
  border-radius: 5px;
  color: #000000;
  background: #ffffff;
  font-size: 0.97em;
  font-weight: 600;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.content__link:hover {
  cursor: help;
  color: #ffffff;
  background: #000000;
}

.content__link--plug {
  border: 2px solid #E21E26;
}

.content__link--plug:hover {
  background: red;
}

.actived .card__sliderText {
  top: -170px;
  -webkit-transform: rotateX(80deg);
          transform: rotateX(80deg);
  -webkit-transition: 2.5s;
  -o-transition: 2.5s;
  transition: 2.5s;
}

.actived .card__content {
  top: 770px;
  -webkit-transform: rotateX(-10deg);
          transform: rotateX(-10deg);
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
}

.actived .card__info {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
  -webkit-transition: 2.5s;
  -o-transition: 2.5s;
  transition: 2.5s;
  -webkit-transition-delay: 0.5s;
       -o-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.card__info {
  opacity: 0;
  -webkit-transform: translateY(150%);
      -ms-transform: translateY(150%);
          transform: translateY(150%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px 10px;
  -webkit-transition: 0.9s;
  -o-transition: 0.9s;
  transition: 0.9s;
}

.partingWords {
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.267);
}

.header {
  position: fixed;
  width: 100%;
  margin: 0;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 999;
  background-image: var(--gradient);
  background-size: 400%;
  animation: bg-animation 3s linear 1 alternate-reverse;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  background: rgba(226, 30, 38, 0.6);
}

@-webkit-keyframes bg-animation {
  0% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}

.header__nav {
  margin: 50px auto 0;
  padding: 0 15px 5px;
  max-width: 1200px;
}

.nav {
  position: relative;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.nav__burger-btn {
  position: relative;
  margin: 0 auto 0 0;
  padding: 0;
  display: none;
  width: 24px;
  height: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}

.nav__burger-btn::before,
.nav__burger-btn::after {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #000000;
  border-radius: 1px;
}

.nav__burger-btn::after {
  bottom: 0;
}

.nav__burger-btn::before {
  top: 0;
}

.nav__burger-lines {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1px;
  background-color: #000000;
  border-radius: 1px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav__burger-btn--opened::before {
  top: 7.5px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav__burger-btn--opened::after {
  bottom: 7.5px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.nav__burger-btn--opened .nav__burger-lines {
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
}

.nav__site-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 0 145px 0 0;
}

.site-nav {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.site-nav__item {
  margin: 0 40px 0 0;
}

.site-nav__item:last-child {
  margin-right: 0;
}

.site-nav__link {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #ffffff;
}

.site-nav__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  border-radius: 1px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.site-nav__link:hover,
.site-nav__link:focus {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: rgba(255, 255, 255, 0.9);
}

.site-nav__link:hover::after,
.site-nav__link:focus::after {
  width: 100%;
}

.user-nav {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.user-nav__item {
  margin: 0 15px 0 0;
}

.user-nav__item:last-child {
  margin-right: 0;
}

.user-nav__link {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  margin: 0 5px 0 30px;
  padding: 15px 25px;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  line-height: 18px;
  text-decoration: none;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 9px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.user-nav__link::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 25px;
  display: block;
  width: 23px;
  height: 23px;
  background-image: url("../img/phone.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.user-nav__link:hover,
.user-nav__link:focus {
  -webkit-box-shadow: 0 0 10px 0 #ffffff;
          box-shadow: 0 0 10px 0 #ffffff;
  background-color: rgba(0, 0, 0, 0.2);
}

.user-nav__btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 16px;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  background: none;
  background-color: purple;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.user-nav__btn:hover,
.user-nav__btn:focus {
  -webkit-box-shadow: 0 0 10px 0 #ffffff;
          box-shadow: 0 0 10px 0 #ffffff;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

@media screen and (min-width: 768px) {
  .cards-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .cards-nav {
    height: 200px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 1230px) {
  .user-nav__link {
    margin: 0 30px;
  }
}

@media screen and (max-width: 1230px) {
  .header__nav {
    margin: 5px auto 0;
    max-width: 990px;
  }
}

@media screen and (max-width: 1020px) {
  .header__nav {
    margin: 4px auto 0;
    max-width: 768px;
  }

  .nav__site-nav {
    margin-right: auto;
  }

  .site-nav__item {
    margin: 0 20px 0 0;
  }

  .site-nav__link {
    font-style: 14px;
  }

  .user-nav__link {
    padding: 7px 15px 7px 35px;
    font-size: 14px;
    line-height: 16px;
  }

  .user-nav__link::before {
    top: 8px;
    left: 15px;
    width: 15px;
    height: 15px;
  }

  .user-nav__btn {
    padding: 9px;
    font-size: 12px;
    line-height: 12px;
  }
}

@media screen and (max-width: 798px) {
  .header {
    padding: 10px 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 10px;
  }

  .header__nav {
    margin: 3px 0 0;
    max-width: none;
    width: 100%;
  }

  .nav__burger-btn {
    display: block;
  }

  .site-nav {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 10px 0 0;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: red;
    -webkit-transform: translateY(-5%);
        -ms-transform: translateY(-5%);
            transform: translateY(-5%);
    z-index: -1;
    opacity: 0;
  }

  .site-nav--opened {
    opacity: 1;
    z-index: 999;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .site-nav__item {
    margin: 10px 0;
  }
}